* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

.timcon{
  float: left;
  margin-left: 80px;
  margin-right:100px;
}


.container {
  width: 80%;
  min-width: 320px;
  max-width: 640px;
  margin: 100px auto;

  padding: 5px 0 15px;
  text-align: center;
  border: 1px solid white;
  border-radius: 16px;
  background-color: aliceblue;

}


h2 {
  color: black;
}
h1 {
  color: darkblue;
}


h1 > span {
  display: inline-block;
  width: 40px;
}

